.who-we-are {
  text-align: center;
  margin-bottom: 120px;

  &__title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;

    @include display-L {
      margin-bottom: 16px;
    }
  }
}
